<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Holiday Transfer</title>
</head>
<body>
  <% content_for :body do %>
  <body id = "welcome_index">
    <% end %>

    <div class="welcome">
  <h1><div class="rotate">Travel To <span class="rwelcome">Spain</span> <span class="rwelcome">Cuba</span><span class="rwelcome">Dubai</span><span class="rwelcome">Shanghai</span> With Holiday Transfer</div></h1>


      <%= link_to 'TransferUrHoliday', new_user_session_path %>
    </div>

    <div class="slideShowContainer">
      <ul class="slideShow">
        <li><%= image_tag("spain.jpg") %></li>
        <li><%= image_tag("cuba.png") %></li>
        <li><%= image_tag("dubai.jpg") %></li>
        <li><%= image_tag("shanghai.jpg") %></li>
      </ul>
    </div>
</body>
</html>
