<h1>ticket show / Ticket Information </h1>

<strong>Flying From:</strong>
<%= @ticket.current_location %><br>

<strong>Flying To:</strong>
<%= @ticket.destination.name %><br>

<strong>Class:</strong>
<%= @ticket.ticket_class %><br>

<strong>Flying With:</strong>
<%= @ticket.airline %><br>

<strong>Booking Reference:</strong>
<%= @ticket.booking_reference %><br>

<strong>Baggage Allowance:</strong>
<%= @ticket.baggage_allowance %>kg<br>

<strong>Departure Time:</strong>

<%= @ticket.departure_time %><br>

<strong>Arrival Time:</strong>

<%= @ticket.arrival_time %><br>

<strong>Round Trip:</strong>
<%= @ticket.round_trip %><br>

<strong></strong>

<strong>Price:</strong>
£<%= @ticket.price %><br>
