<h1>ticket show / Ticket Information </h1>

<strong>Flying From:</strong>
<p><%= @ticket.current_location %></p>

<strong>Flying To:</strong>
<p><%= @ticket.destination %></p>

<strong>Class:</strong>
<p><%= @ticket.ticket_class %></p>

<strong>Flying With:</strong>
<p><%= @ticket.airline %></p>

<strong>Booking Reference:</strong>
<p><%= @ticket.booking_reference %></p>

<strong>Baggage Allowance:</strong>
<p><%= @ticket.baggage_allowance %></p>

<strong>Departure Time:</strong>
<p><%= @ticket.departure_time %></p>

<strong>Arrival Time:</strong>
<p><%= @ticket.arrival_time %></p>

<strong>Gate Number:</strong>
<p><%= @ticket.gate %></p>

<strong>Gate Opening Time:</strong>
<p><%= @ticket.gate_opening_time %></p>

<strong>Gate Closing Time:</strong>
<p><%= @ticket.gate_closing_time %></p>

<strong>Round Trip:</strong>
<p><%= @ticket.round_trip %></p>

<strong>Price:</strong>
<p><%= @ticket.price %></p>
