<h1>ticket show </h1>

<p><%= @ticket.current_location %></p>

<p><%= @ticket.destination %></p>

<p><%= @ticket.class %></p>

<p><%= @ticket.airline %></p>

<p><%= @ticket.booking_reference %></p>

<p><%= @ticket.baggage_allowance %></p>

<p><%= @ticket.arrival_time %></p>

<p><%= @ticket.gate %></p>

<p><%= @ticket.gate_opening_time %></p>

<p><%= @ticket.gate_closing_time %></p>

<p><%= @ticket.round_trip %></p>

<p><%= @ticket.price %></p>




(current_location: 'London', destination: 'Dubai', ticket_class: 'business' , airline: 'Virgin Atlantic', booking_reference: 'v1456', baggage_allowance: '23', departure_time: '2204201509:00', arrival_time: '16:00', gate: 'G14', gate_opening_time: '08:00', gate_closing_time: '08:50', round_trip: true, price: 1200, package_id: p1.id)



<%= @ticket.id %>