<h1>I am the hotel show page </h1>


<strong>Hotel:</strong>
<%= @hotel.name %><br>


<strong>Address:</strong>
<%= @hotel.address %><br>

<strong>Checkin:</strong>
<%= @hotel.checkin %><br>

<strong>Checkout:</strong>
<%= @hotel.checkout %><br>

<strong>Stars:</strong>
<%= @hotel.stars %>
